

trigger:
- master

variables:
  vmImageName: 'ubuntu-latest'
  buildID: $(Build.BuildNumber)

stages:

- stage: Build
  displayName: Build_stage

  jobs:
    - job: docker
      displayName: docker_login
      pool:
        vmImage: $(vmImageName)


      steps:
        - task: Docker@2
          displayName: Login to ACR
          inputs:
            command: login
            containerRegistry: acr

    - job: docker2
      displayName: docker_build&push
      pool:
        vmImage: $(vmImageName)
      steps:
        - task: Docker@2
          displayName: Build and Push
          inputs:
            command: buildAndPush
            repository: buildImages
            tags: |
              buildID
