

trigger:
- master

variables:
  vmImageName: 'ubuntu-latest'
  buildID: $(Build.BuildNumber)

stages:

- stage: Build
  displayName: try_build_docker

  jobs:
    - job: docker_try
      displayName: docker_try_build
      pool:
        vmImage: $(vmImageName)


      steps:
        - task: Docker@2
          displayName: try_Build
          inputs:
            command: build

- stage: Push
  displayName: push_build_docker
  condition: succeeded()

  jobs:
    - job: docker_buildpush
      displayName: build&push
      pool:
        vmImage: $(vmImageName)

      steps:
        - task: Docker@2
          displayName: Login to ACR
          inputs:
            command: login
            containerRegistry: acr   #service conntection 
        - task: Docker@2
          displayName: BuildandPush
          inputs:
            command: buildAndPush
            repository: 'buildimages' #commm
            tags: |
              $(buildID)